openapi: 3.0.1
info:
  title: Carriyo Shipping API
  contact:
    name: Carriyo Support
    url: 'https://help.carrriyo.com'
    email: support@carriyo.com
  license:
    name: ''
  version: ''
servers:
  - url: 'https://api.carriyo.com'
  - url: 'https://demo-api.carriyo.com'
security:
  - OAuth2: []
tags:
  - name: shipments
  - name: carrier-accounts
  - name: manifests
  - name: attributes
  - name: automation-rules
  - name: service-levels
paths:
  '/shipments':
    get:
      tags:
        - shipments
      summary: List Shipments
      description: |-
        This endpoint returns a paginated list of shipments that match the specified search criteria.

        You can use the `search_string` parameter to search for shipments alongside other filter, sort, and pagination options.

        > Note: This endpoint has a monthly usage limit tied to your account's shipment quota. Once the monthly limit is exceeded, further requests to this endpoint will be blocked.
      operationId: list-shipments
      parameters:
        - name: search_string
          in: query
          required: false
          schema:
            type: string
          description: The search string to find shipments using shipment data such as carrier tracking number, order reference, shipment reference, customer name, email etc.
        - name: order_ref
          in: query
          required: false
          schema:
            type: string
          description: The string to be used to fetch shipments for a given order reference.
        - name: merchant
          in: query
          required: false
          schema:
            type: string
          description: The merchant parameter filters shipments for a given merchant. This parameter can be used multiple times to filter results for multiple merchants.
        - name: shipment_type
          in: query
          required: false
          schema:
            type: string
          description: The shipment type can either be `forward` or `reverse`. If not passed, then both types of shipments will be included in the results.
        - name: creation_date_from
          in: query
          required: false
          schema:
            type: string
          description: The start date in ISO 8601 format to filter the results using shipment creation date.
        - name: creation_date_to
          in: query
          required: false
          schema:
            type: string
          description: The end date in ISO 8601 format to filter the results using shipment creation date.
        - name: update_date_from
          in: query
          required: false
          schema:
            type: string
          description: The start date in ISO 8601 format to filter results, returning shipments that were either created OR updated during this time period.
        - name: update_date_to
          in: query
          required: false
          schema:
            type: string
          description: The end date in ISO 8601 format to filter results, returning shipments that were either created OR updated during this time period.
        - name: page
          in: query
          required: false
          schema:
            type: string
          description: The page number of the result set, starting from 0. Defaults to the first page (page 0).
        - name: page_size
          in: query
          required: false
          schema:
            type: string
          description: The number of results to be included in the response, ranging from 10 to 100. Defaults to page size of 10.
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/shipment-object'
      security:
        - OAuth2: []
    post:
      tags:
        - shipments
      summary: Create Shipment
      description: |-
        The **Create Shipment** endpoint allows the creation of a new shipment in Carriyo, generating a unique shipment ID. Merchants can specify a particular carrier account or rely on Carriyo to automatically assign a carrier based on predefined automation rules.

        ### Key Concepts

        ---

        #### Forward vs Reverse Shipments

        This endpoint supports the creation of both **forward** and **reverse** shipments, determined by the `entity_type` parameter:

        - **Forward Shipment**: Standard shipment from the merchant to the customer.
        - **Reverse Shipment**: Return shipment, where the customer sends items back to the merchant.

        ---

        #### Draft, Confirmed, and Prebooked Shipments

        You can create a shipment as either a **draft**, **confirmed**, or **prebooked** shipment:

        - **Draft Shipments**:
          - Used to create a shipment in Carriyo for initial visibility before processing is complete. This is useful when shipment details (e.g., parcel information) arenâ€™t yet available.
          - Setting the `draft` query parameter to `true` creates the shipment in draft status without booking it with a carrier.
          - Draft shipments remain unbooked until confirmed, and they are not sent to the carrier.

        - **Confirmed Shipments**:
          - If the `draft` query parameter is omitted or set to `false`, Carriyo treats the shipment as confirmed, assigns it to a carrier, and immediately initiates a booking request.
          - **Pending Status**: If Carriyoâ€™s validations pass and a valid carrier is assigned, the status is set to **pending**, and Carriyo sends the booking request to the carrier.
            > *Note:* The API will respond with the status `pending`, without waiting for the carrier's response.
          - **Error Status**: If Carriyoâ€™s validations fail, the shipment status is set to **error**, and the response will include specific error details.

        - **Prebooked Shipments**:
          - If you wish to track a shipment already booked outside Carriyo, create a **prebooked shipment** by setting the `pre_booked` parameter to `true` and providing the carrierâ€™s prebooking information, such as in this example:

            ```json
            {
              "pre_booked": true,
              "pre_booking_info": {
                "input_carrier": "DHL",
                "carrier_tracking_no": "1234567890"
              }
            }
            ```

        ---

        #### Shipment Booking and Status Updates

        Once Carriyo sends the booking request to the carrier:

        - **Successful Booking**: If the carrier successfully books the shipment, Carriyo updates the shipment status to **booked** and assigns the carrier tracking number.
        - **Booking Error**: If the carrier rejects the booking request, the shipment status is updated to **error**.

        After booking, a label is generated, and Carriyo pushes all status updates, including label details, back to the merchant via webhooks.
      operationId: create-shipment
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
        - schema:
            type: boolean
          in: query
          name: draft
          description: Pass true for draft shipment
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/shipment-draft-request'
                - $ref: '#/components/schemas/shipment-request'
            examples:
              Confirmed Shipment:
                value:
                  entity_type: FORWARD
                  merchant: MERCHANT-ID
                  references:
                    partner_order_reference: new-shipment-1
                    partner_shipment_reference: new-shipment-1
                  payment:
                    payment_mode: PRE_PAID
                    total_amount: 100
                    currency: USD
                  parcels:
                    - partner_parcel_reference: parcel-123
                      weight:
                        value: 1
                        unit: kg
                      dimension:
                        width: 20
                        height: 40
                        depth: 40
                        unit: cm
                    - partner_parcel_reference: parcel-124
                      weight:
                        value: 0.5
                        unit: kg
                      dimension:
                        width: 30
                        height: 50
                        depth: 50
                        unit: cm
                  items:
                    - description: Most Adorable Sneakers
                      quantity: 1
                      price:
                        amount: 80
                        currency: USD
                      weight:
                        value: 1
                        unit: kg
                      sku: '10001'
                    - description: Absolutely Lovely Hat
                      quantity: 1
                      price:
                        amount: 20
                        currency: USD
                      cost:
                        amount: 20
                        currency: USD
                      weight:
                        value: 0.5
                        unit: kg
                      sku: '10001'
                  customs:
                    declared_value:
                      amount: 100
                      currency: USD
                  pickup:
                    contact_name: Warehouse Manager
                    contact_phone: '043872701'
                    contact_email: ops@test.com
                    address1: Grand Central Warehouse
                    city: Dubai
                    state: Dubai
                    postcode: ''
                    country: AE
                  dropoff:
                    contact_name: Jo Bloggs
                    contact_phone: '0561111234'
                    contact_email: jo@test.com
                    address1: '1, 10th Floor, Tower One'
                    address2: Dubai Marina
                    city: DUBAI
                    what3words: ///daring.lion.race
                    postcode: ''
                    country: AE
                  order_date: '2021-01-01T10:00:00.999+1:00'
              Confirmed Shipment B2B:
                value:
                  entity_type: FORWARD
                  merchant: MERCHANT-ID
                  references:
                    partner_order_reference: new-shipment-1
                    partner_shipment_reference: new-shipment-1
                  payment:
                    payment_mode: PRE_PAID
                    total_amount: 100
                    currency: USD
                  parcels:
                    - partner_parcel_reference: parcel-123
                      weight:
                        value: 1
                        unit: kg
                      dimension:
                        width: 20
                        height: 40
                        depth: 40
                        unit: cm
                    - partner_parcel_reference: parcel-124
                      weight:
                        value: 0.5
                        unit: kg
                      dimension:
                        width: 30
                        height: 50
                        depth: 50
                        unit: cm
                  freight:
                    packages:
                      - package_reference: pallet-123
                        type: pallet
                        weight:
                          value: 10
                          unit: kg
                        dimension:
                          width: 30
                          height: 50
                          depth: 50
                          unit: cm
                      - package_reference: carton-12301
                        type: carton
                        weight:
                          value: 3
                          unit: kg
                        dimension:
                          width: 10
                          height: 20
                          depth: 20
                          unit: cm
                        parent: pallet-123
                      - package_reference: carton-12302
                        type: carton
                        weight:
                          value: 7
                          unit: kg
                        dimension:
                          width: 10
                          height: 20
                          depth: 20
                          unit: cm
                        parent: pallet-123
                  customs:
                    declared_value:
                      amount: 100
                      currency: USD
                  pickup:
                    contact_name: Warehouse Manager
                    contact_phone: '043872701'
                    contact_email: ops@test.com
                    address1: Grand Central Warehouse
                    city: Dubai
                    state: Dubai
                    postcode: ''
                    country: AE
                  dropoff:
                    contact_name: Jo Bloggs
                    contact_phone: '0561111234'
                    contact_email: jo@test.com
                    address1: '1, 10th Floor, Tower One'
                    address2: Dubai Marina
                    city: DUBAI
                    what3words: ///daring.lion.race
                    postcode: ''
                    country: AE
                  order_date: '2021-01-01T10:00:00.999+1:00'
              Draft Shipment - COD:
                value:
                  merchant: MERCHANT-ID
                  entity_type: FORWARD
                  references:
                    partner_order_reference: new-draft-shipment-1
                    partner_shipment_reference: new-draft-shipment-1
                  payment:
                    payment_mode: CASH_ON_DELIVERY
                    pending_amount: 100
                    total_amount: 100
                    currency: USD
                  items:
                    - sku: S12345
                      description: Carriyo T-Shirt
                      quantity: 1
                      price:
                        amount: 100
                        currency: USD
                  dropoff:
                    contact_name: My Customer
                    contact_phone: '+971501100997'
                    contact_email: mycustomer@gmail.com
                    address1: 101 Dubai Maina
                    city: DUBAI
                    state: DUBAI
                    country: AE
                    coords:
                      - 24.2495705
                      - 55.6900005
              Draft Shipment - Pre Paid:
                value:
                  merchant: MERCHANT-ID
                  references:
                    partner_order_reference: my_first_shipment_1
                    partner_shipment_reference: my_first_shipment_1
                  payment:
                    payment_mode: PRE_PAID
                    total_amount: 100
                    currency: USD
                  items:
                    - sku: S12345
                      description: Carriyo T-Shirt
                      quantity: 1
                      price:
                        amount: 100
                        currency: USD
                  dropoff:
                    contact_name: My Customer
                    contact_phone: '+971501100997'
                    contact_email: mycustomer@gmail.com
                    address1: 101 Dubai Maina
                    city: DUBAI
                    state: DUBAI
                    country: AE
                    coords:
                      - 24.2495705
                      - 55.6900005
        required: true
        description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
              examples:
                200 Error Response:
                  value:
                    shipment_id: KR22VUXEXGKX1
                    merchant: MERCHANT-ID
                    entity_type: FORWARD
                    carrier_account: {}
                    references:
                      partner_order_reference: test-order-1
                      partner_shipment_reference: test-order-1
                    payment:
                      payment_mode: PRE_PAID
                      pending_amount: 0
                      total_amount: 99
                      currency: USD
                    delivery:
                      delivery_type: STANDARD
                      scheduled_from: '2021-07-15T06:00:00.000Z'
                      scheduled_to: '2021-07-15T10:00:00.000Z'
                    parcels:
                      - parcel_id: KR22VUXEXGKX1-1
                        partner_parcel_reference: ''
                        description: Parcel 1
                        weight:
                          value: 1
                          unit: kg
                        dimension:
                          width: 10
                          height: 10
                          depth: 10
                          unit: cm
                    items:
                      - sku: S12345
                        description: Carriyo T-Shirt
                        barcode: B12345
                        image_link: 'https://mybusiness.com/images/sku1.png'
                        origin_country: US
                        quantity: 1
                        price:
                          amount: 99
                          currency: USD
                        cost:
                          amount: 20
                          currency: USD
                        weight:
                          value: 1
                          unit: kg
                        dangerous_goods: false
                    customs:
                      declared_value:
                        amount: 100
                        currency: USD
                    pickup:
                      partner_location_id: ACCOUNT_bef3862a-b27e-45d4-b077-8e8f4d674849
                      contact_name: Customer Service
                      contact_phone: '+971561234567'
                      contact_email: crm@mybusiness.com
                      address1: DIP Delivery Warehouse
                      area: DUBAI-INVESTMENT-PARK-1
                      city: DUBAI
                      state: DUBAI
                      country: AE
                      coords:
                        - 29.373420706419914
                        - 47.97881566875099
                    dropoff:
                      contact_name: Jo Bloggs
                      contact_phone: '+971561234567'
                      contact_email: jo.bloggs@gmail.com
                      address1: 1 Financial Centre Road
                      address2: 'Downtown Views, Apartment 101'
                      area: DOWNTOWN-DUBAI
                      city: DUBAI
                      state: DUBAI
                      country: AE
                      coords:
                        - 29.294045
                        - 48.087608
                    post_shipping_info:
                      status: error
                      key_milestones: {}
                      error_details:
                        - level: ERROR
                          trigger: BOOKING
                          source: CARRIYO
                          type: VALIDATION
                          message: >-
                            No carrier assigned. Please provide valid carrier and reprocess
                            booking again.
                          code: no_carrier_assigned
                          field: carrier
                        - level: WARNING
                          trigger: BOOKING
                          source: CARRIYO
                          type: VALIDATION
                          message: Contact Email is missing.
                          code: email_missing
                          field: dropoff.contact_email
                    creation_date: '2021-07-13T13:16:23.016Z'
                    confirmation_date: '2021-07-13T13:16:23.149Z'
                    update_date: '2021-08-10T17:31:20.218Z'
                    order_date: '2021-07-13T11:42:12.889Z'
                    language: en
                200 Pending Response:
                  value:
                    shipment_id: KR22VUXEXGKX1
                    merchant: MERCHANT-ID
                    entity_type: FORWARD
                    carrier_account:
                      carrier: ARAMEX
                      carrier_id: c1053e4b-f2e7-4cee-917f-a390e73887a6
                      carrier_account_name: ARAMEX UAE
                    references:
                      partner_order_reference: test-order-1
                      partner_shipment_reference: test-order-1
                    payment:
                      payment_mode: PRE_PAID
                      pending_amount: 0
                      total_amount: 99
                      currency: USD
                    delivery:
                      delivery_type: STANDARD
                      scheduled_from: '2021-07-15T06:00:00.000Z'
                      scheduled_to: '2021-07-15T10:00:00.000Z'
                    parcels:
                      - parcel_id: KR22VUXEXGKX1-1
                        partner_parcel_reference: ''
                        description: Parcel 1
                        weight:
                          value: 1
                          unit: kg
                        dimension:
                          width: 10
                          height: 10
                          depth: 10
                          unit: cm
                    items:
                      - sku: S12345
                        description: Carriyo T-Shirt
                        barcode: B12345
                        image_link: 'https://mybusiness.com/images/sku1.png'
                        origin_country: US
                        quantity: 1
                        price:
                          amount: 99
                          currency: USD
                        cost:
                          amount: 20
                          currency: USD
                        weight:
                          value: 1
                          unit: kg
                        dangerous_goods: false
                    pickup:
                      partner_location_id: ACCOUNT_bef3862a-b27e-45d4-b077-8e8f4d674849
                      contact_name: Customer Service
                      contact_phone: '+971561234567'
                      contact_email: crm@mybusiness.com
                      address1: DIP Delivery Warehouse
                      area: DUBAI-INVESTMENT-PARK-1
                      city: DUBAI
                      state: DUBAI
                      country: AE
                      coords:
                        - 29.373420706419914
                        - 47.97881566875099
                    dropoff:
                      contact_name: Jo Bloggs
                      contact_phone: '+971561234567'
                      contact_email: jo.bloggs@gmail.com
                      address1: 1 Financial Centre Road
                      address2: 'Downtown Views, Apartment 101'
                      area: DOWNTOWN-DUBAI
                      city: DUBAI
                      state: DUBAI
                      country: AE
                      coords:
                        - 29.294045
                        - 48.087608
                    post_shipping_info:
                      status: pending
                      key_milestones: {}
                    creation_date: '2021-07-13T13:16:23.016Z'
                    confirmation_date: '2021-07-13T13:16:23.149Z'
                    update_date: '2021-08-10T17:31:20.218Z'
                    order_date: '2021-07-13T11:42:12.889Z'
                    language: en
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-shipment-error-response'
              examples:
                400 Error Response:
                  value:
                    status: '400'
                    timestamp: '2021-08-10T17:34:22.906Z'
                    errors:
                      - Duplicate partner shipment reference
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}':
    get:
      tags:
        - shipments
      summary: Get Shipment
      description: |-
        This endpoint returns the latest shipment object including the most up-to-date status information.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: get-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-shipment-error-response'
              examples:
                '404':
                  value:
                    status: '404'
                    timestamp: '2020-12-07T13:50:11.853Z'
                    errors:
                      - 'No shipment found with the shipment id: KHNI57EYOAICSdf'
      security:
        - OAuth2: []
    put:
      tags:
        - shipments
      summary: Update Shipment
      description: |-
        This endpoint is used to update a draft shipment. If a shipment is already confirmed, then the endpoint will return a 400 error.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: update-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipment-draft-request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    minLength: 1
                  timestamp:
                    type: string
                    minLength: 1
                  errors:
                    type: array
                    items:
                      type: string
                required:
                  - status
                  - timestamp
                  - errors
                x-examples:
                  example-1:
                    status: '400'
                    timestamp: '2022-04-07T13:37:09.855Z'
                    errors:
                      - 'Shipment L1OJMRKJEPTNB is not [draft, error].'
              examples:
                update-failed:
                  value:
                    status: '400'
                    timestamp: '2022-04-07T13:37:09.855Z'
                    errors:
                      - 'Shipment L1OJMRKJEPTNB is not [draft, error].'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
    patch:
      tags:
        - shipments
      summary: Update Shipment
      description: |-
        This endpoint is used to update a draft shipment. If a shipment is already confirmed, then the endpoint will return a 400 error.

        1. This endpoint supports partial updates. You can partially update certain sections of the shipment without updating the rest of the shipment.
        2. Partial updates are applied to top level shipment attributes. For example, if you pass the pickup element in the request, then all the pickup fields in the object will be replaced with the new payload.
        3. The above rule does not apply to custom attributes. Custom attributes can be individually added, updated or removed. To remove a custom attribute, you may pass a null value.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: update-shipment-patch
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipment-draft-request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    minLength: 1
                  timestamp:
                    type: string
                    minLength: 1
                  errors:
                    type: array
                    items:
                      type: string
                required:
                  - status
                  - timestamp
                  - errors
                x-examples:
                  example-1:
                    status: '400'
                    timestamp: '2022-04-07T13:37:09.855Z'
                    errors:
                      - 'Shipment L1OJMRKJEPTNB is not [draft, error].'
              examples:
                update-failed:
                  value:
                    status: '400'
                    timestamp: '2022-04-07T13:37:09.855Z'
                    errors:
                      - 'Shipment L1OJMRKJEPTNB is not [draft, error].'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/confirm':
    post:
      tags:
        - shipments
      summary: Confirm Shipment
      description: |-
        This endpoint is intended to confirm a `draft` shipment.

        **Please Note: The request body is optional when you use this endpoint. You can optionally update the shipment data when confirming the shipment.**
        1. This endpoint supports partial updates. You can partially update certain sections of the shipment without updating the rest of the shipment.
        2. Partial updates are applied to top level shipment attributes. For example, if you pass the pickup element in the request, then all the pickup fields in the object will be replaced with the new payload.
        3. The above rule does not apply to custom attributes. Custom attributes can be individually added, updated or removed. To remove a custom attribute, you may pass a null value.

        Once the shipment is confirmed, the shipment is set to pending status, a carrier is assigned, and a booking request is sent to the assigned carrier. The endpoint returns the shipment  immediately in the pending status, without waiting for a response from the carrier.

        If the carrier successfully confirms the booking, the shipment status is updated to booked, along with the tracking number. If the carrier rejects the booking request, the shipment status is set to error.

        The merchant is notified of the booking update and the subsequent label generation  via webhooks.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: confirm-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipment-patch-request'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    minLength: 1
                  timestamp:
                    type: string
                    minLength: 1
                  errors:
                    type: array
                    items:
                      type: string
                required:
                  - status
                  - timestamp
                  - errors
                x-examples:
                  example-1:
                    status: '400'
                    timestamp: '2022-04-07T13:30:14.500Z'
                    errors:
                      - 'Only draft shipments can be confirmed. Current shipment status: booked.'
              examples:
                confirmation-failed:
                  value:
                    status: '400'
                    timestamp: '2022-04-07T13:30:14.500Z'
                    errors:
                      - 'Only draft shipments can be confirmed. Current shipment status: booked.'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/cancel':
    post:
      tags:
        - shipments
      summary: Cancel Shipment
      description: |-
        This endpoint is used to cancel a shipment that has not yet been shipped.

        **Please Note: The request body is optional when you use this endpoint. You can optionally provide a reason code when cancelling a shipment.**

        The endpoint also cancels the shipment booking with the carrier if the carrier supports it. Please note that cancellation is only supported if the shipment is not yet shipped. If a shipment is already shipped, then the endpoint will return a 400 error.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: cancel-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                update_reason_code:
                  type: string
                  description: |-
                    Any one of the standard reason codes (below) or custom reason codes defined by the merchant.

                    [Click here for the list of Standard Reason Codes](/guides/shipment-reason-codes/)
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                x-examples:
                  example-1:
                    status: error
                    timestamp: '2022-03-22T09:29:01.889Z'
                    errors:
                      - "Status change is not allowed from current status: 'shipped' to the new status: 'cancelled'"
              examples:
                cancellation-failed:
                  value:
                    status: error
                    timestamp: '2022-03-22T09:29:01.889Z'
                    errors:
                      - "Status change is not allowed from current status: 'shipped' to the new status: 'cancelled'"
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/label/refresh':
    post:
      tags:
        - shipments
      summary: Refresh Label
      description: |-
        This endpoint refreshes the default label for the given shipment id if the label is missing.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: refresh-label
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  awb:
                    type: string
      security:
        - OAuth2: []
  '/shipments/{shipment_id}/reassign':
    post:
      tags:
        - shipments
      summary: Reassign Shipment
      description: |-
        This endpoint reassigns any unshipped shipments to a different carrier or can be used to simply reprocess any shipments that are in an "error" state.

        **Please Note: The request body is optional when you use this endpoint.**

        If no carrier account is provided, then the shipment is reprocessed with the existing carrier account assigned to the shipment, or automatically asssigned to a carrier account as per the routing rules.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.

        * To retry the shipment, original carrier account object should be specified in request.
        * To reassign the shipment, target carrier account should be specified in the request.
        * If no carrier account object specified, the rules engine will trigger to find the best suitable one.
        * Otherwise, operation has no effect.
      operationId: reassign-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                carrier_account:
                  $ref: '#/components/schemas/carrier-account-request'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/reprocess':
    post:
      tags:
        - shipments
      summary: Reprocess Shipment
      description: |-
        This endpoint is used to reprocess shipments that are in the `error` status due to failure during booking. It can also be used to reprocess shipments that have been `cancelled` or `returned`. The entire shipment object is required to be passed in the request to reprocess a shipment.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: reprocess-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipment-patch-request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/ready-to-ship':
    post:
      tags:
        - shipments
      summary: Ready to Ship
      description: |-
        This endpoint sets the shipment as ready-to-ship, and for carriers that support scheduling of collection, it notifies them of the scheduled date and time of collection.

        **Please Note: The request body is optional when you use this endpoint. You can optionally update the parcel information when setting the shipment as ready-to-ship.**

        This process is particularly useful for on-demand carrier service where the carrier only picks up the shipment once they are notified of the collection schedule.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: ready-to-ship
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-parcels-request'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/update-status':
    post:
      tags:
        - shipments
      summary: Update Status
      description: |-
        This status endpoint allows the merchant to update the status of the shipment. This is useful in following scenarios:

        1. To set the merchant controlled status such as "shipped", "delivery_confirmed", and "return_confirmed"
        2. To overide incorrect status received from the carrier. For instance, the carrier incorrectly updated the status as "delivered", the merchant can overide the status to "returned" if the shipment was returned to the merchant
        3. To manually update missing status. For instance, if the merchant is aware that the carrier delivered the shipment but failed to update the system, then the merchant can mannually set the status to "delviered" using this endpoint.

        Please note, that only the following status updates are allowed via this end point

        1. `shipped`, if the current status is one of the following
        * booked
        * ready_to_ship
        * failed_collection_attempt
        2. `out_for_delivery`, if the current status is one of the following
        * shipped
        * in_transit
        * failed_delivery_attempt
        * suspended
        * missing
        3. `delivered`, if the current status is one of the following
        * cancelled
        * shipped
        * in_transit
        * out_for_delivery
        * awaiting_customer_collection
        * failed_delivery_attempt
        * suspended
        * missing
        * delayed
        * returned
        * delivery_confirmed
        4. `delivery_confirmed`, if the current status is one of the following
        * delivered
        5. `return_in_transit`, if the current status is one of the following
        * shipped
        * in_transit
        * out_for_delivery
        * awaiting_customer_collection
        * failed_delivery_attempt
        * ready_for_return
        * suspended
        * missing
        * delayed
        6. `returned`, if the current status is one of the following
        * cancelled
        * shipped
        * in_transit
        * out_for_delivery
        * awaiting_customer_collection
        * failed_delivery_attempt
        * ready_for_return
        * return_in_transit
        * suspended
        * missing
        * delayed
        * delivered
        * return_confirmed
        7. `return_confirmed`, if the current status is one of the following
        * returned

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: update-status
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                new_status:
                  type: string
                update_date:
                  type: string
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                x-examples:
                  example-1:
                    status: error
                    timestamp: '2022-05-11T17:39:16.126Z'
                    errors:
                      - "Status change is not allowed from current status: 'delivered' to the new status: 'delivered'"
              examples:
                status-update-failed:
                  value:
                    status: error
                    timestamp: '2022-05-11T17:39:16.126Z'
                    errors:
                      - "Status change is not allowed from current status: 'delivered' to the new status: 'delivered'"
      x-codegen-request-body-name: body
  '/shipments/bulk/status':
    get:
      tags:
        - shipments
      summary: Get Bulk Status
      description: This endpoint is designed to provide user with the statuses of requested shipments. Parameter `shipment_id` can be specified multiple times. The result of this operation is the list of shipments' current statuses and all milestones.
      operationId: get-bulk-status
      parameters:
        - name: shipment_id
          in: query
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/bulk-shipment-status-response'
      security:
        - OAuth2: []
  '/shipments/{shipment_id}/parcels':
    put:
      tags:
        - shipments
      summary: Update Parcels
      description: |-
        This endpoint allows the tenant to update the parcel information after the initial shipment is created.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      operationId: update-parcels
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-parcels-request'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/shipments/{shipment_id}/update-delivery-promise':
    post:
      summary: Update Delivery Promise
      tags:
        - shipments
      operationId: update-delivery-promise
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      description: |-
        This endpoint allows the merchant to update the promised delivery date after the shipment is created. The promised delivery date can be updated as long as the shipment is not in a final status (delivered, returned or cancelled)

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      security:
        - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/promised-delivery-date-request'
        required: true
  '/shipments/{shipment_id}/update-delivery-schedule':
    post:
      summary: Update Delivery Schedule
      tags:
        - shipments
      operationId: update-delivery-schedule
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      description: |-
        This endpoint allows the merchant to update the scheduled delivery date after the shipment is created.

        The delivery schedule can be updated as long as the shipment is not in a final status (delivered, returned or cancelled), however please note that this information is not passed to the carriers after the shipment is booked, as most carriers do not accept a schedule update after booking.

        It can be set using one of the following options

        Option 1: Provide the `scheduled_from` and `scheduled_to` to choose the scheduled date along with start and end time.

        Example:
        "delivery": {
          "scheduled_from": "2022-01-01'T'10:00:00.000Z",
          "scheduled_to": "2022-01-01'T'12:00:00.000Z"
        }

        Option 2: Provide the `scheduled_date` only to choose the entire day.

        Example:
        "delivery": {
          "scheduled_date": "2022-01-01"
        }

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      security:
        - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/collection-request'
            examples:
              Delivery Slot:
                value:
                  scheduled_from: '2022-01-01T10:00:00.000Z'
                  scheduled_to: '2022-01-01T12:00:00.000Z'
              Delivery Day:
                value:
                  scheduled_date: '2022-01-01'
        required: true
    parameters:
      - schema:
          type: string
        name: shipment_id
        in: path
        required: true
  '/shipments/{shipment_id}/update-collection-schedule':
    post:
      summary: Update Collection Schedule
      tags:
        - shipments
      operationId: update-collection-schedule
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
        - name: Content-Type
          in: header
          required: true
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      description: |-
        This endpoint allows the merchant to update the scheduled collection date after the shipment is created.

        The collection schedule can be updated as long as the shipment is not in a final status (delivered, returned or cancelled), however please note that this information is not passed to the carriers after the shipment is booked, as most carriers do not accept a schedule update after booking.

        It can be set using one of the following options

        Option 1: Provide the `scheduled_from` and `scheduled_to` to choose the scheduled date along with start and end time.

        Example:
        "collection": {
          "scheduled_from": "2022-01-01'T'10:00:00.000Z",
          "scheduled_to": "2022-01-01'T'12:00:00.000Z"
        }

        Option 2: Provide the `scheduled_date` only to choose the entire day.

        Example:
        "collection": {
          "scheduled_date": "2022-01-01"
        }

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      security:
        - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/collection-request'
            examples:
              Collection Slot:
                value:
                  scheduled_from: '2022-01-01T10:00:00.000Z'
                  scheduled_to: '2022-01-01T12:00:00.000Z'
              Collection Day:
                value:
                  scheduled_date: '2022-01-01'
        required: true
    parameters:
      - schema:
          type: string
        name: shipment_id
        in: path
        required: true
  '/shipments/{shipment_id}/estimate-shipping-cost':
    post:
      summary: Estimate Shipping Cost for a shipment
      tags:
        - shipments
      operationId: estimate-shipping-cost-for-shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            type: string
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment-object'
      description: |-
        This endpoint allows the merchant to estimate shipment's cost for a draft shipment before booking the shipment.

        The `shipment_id` is used as a path parameter to identify the shipment. Alternatively the merchant provided shipment reference (`partner_shipment_reference`) can also be used instead of the `shipment_id`.
      security:
        - OAuth2: []
    parameters:
      - schema:
          type: string
        name: shipment_id
        in: path
        required: true
  '/checkout/shipping-rates':
    post:
      summary: Get Shipping Rates
      tags:
        - checkout
      operationId: get-shipping-rates
      parameters:
        - name: x-api-key
          in: header
          required: true
          schema:
            type: string
        - name: tenant-id
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/shipping-rates-request'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipping-rates-response'
      description: |-
        This endpoint allows the merchant to get shipping rates for a future shipment.
      security:
        - OAuth2: []
  '/carrier-accounts':
    get:
      tags:
        - carrier-accounts
      summary: List Carrier Accounts
      operationId: list-carrier-accounts
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - deleted
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/carrier-account-endpoint-object'
      security:
        - OAuth2: []
      description: |-
        The carrier list endpoint returns a list of carrier-accounts that you have setup in your Carriyo account. A carrier account can be `inactive` if it is not in use.

        By default, the endpoint returns all active and inactive carrier accounts. The `status` query parameter can be passed to return carrier accounts based on the status. You can pass the following values to the `status` parameter.
        - active
        - inactive
        - deleted

        **Inactive carrier accounts cannot be used for booking. Hence you may want to only fetch active carrier accounts by passing query parameter of `status=active`.**
    post:
      tags:
        - carrier-accounts
      summary: Create Carrier Account
      operationId: create-carrier-account
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/carrier-account-endpoint-request'
        required: false
      responses:
        '201':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/carrier-account-endpoint-object'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
    parameters: []
  '/carrier-accounts/{carrier-account-id}':
    get:
      tags:
        - carrier-accounts
      summary: Get Carrier Account
      operationId: get-carrier-account
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: carrier-account-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/carrier-account-endpoint-object'
      security:
        - OAuth2: []
    put:
      tags:
        - carrier-accounts
      summary: Update Carrier Account
      operationId: update-carrier-account
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: carrier-account-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/carrier-account-endpoint-request'
        required: false
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/carrier-account-endpoint-object'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - carrier-accounts
      summary: Delete Carrier Account
      operationId: delete-carrier-account
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: carrier-account-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/carrier-account-endpoint-object'
      security:
        - OAuth2: []
    parameters:
      - schema:
          type: string
        name: carrier-account-id
        in: path
        required: true
  '/manifests':
    get:
      tags:
        - manifests
      summary: List Manifests
      operationId: list-manifests
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/manifest-response'
      security:
        - OAuth2: []
    post:
      tags:
        - manifests
      summary: Create Manifest
      operationId: create-manifest
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/manifest-request'
        required: false
      responses:
        '201':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/manifest-response'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/manifests/{manifest-id}':
    get:
      tags:
        - manifests
      summary: Get Manifest
      operationId: get-manifest
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: manifest-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/manifest-response'
      security:
        - OAuth2: []
    delete:
      tags:
        - manifests
      summary: Delete Manifest
      operationId: delete-manifest
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: manifest-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/manifest-response'
      security:
        - OAuth2: []
  '/manifests/{manifest-id}/cancel':
    patch:
      tags:
        - manifests
      summary: Cancel Manifest
      operationId: cancel-manifest
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: manifest-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: object
      security:
        - OAuth2: []
  '/manifests/{manifest-id}/retry':
    patch:
      tags:
        - manifests
      summary: Retry Manifest
      operationId: retry-manifest
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: manifest-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: object
      security:
        - OAuth2: []
  '/manifests/{manifest-id}/ship':
    patch:
      tags:
        - manifests
      summary: Ship Manifest
      operationId: ship-manifest
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: manifest-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: object
      security:
        - OAuth2: []
  '/attributes':
    get:
      tags:
        - attributes
      summary: List Attrbutes
      operationId: list-attrbutes
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/attribute-response'
      security:
        - OAuth2: []
    post:
      tags:
        - attributes
      summary: Create Attribute
      operationId: create-attribute
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/attribute-request'
        required: false
      responses:
        '201':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/attribute-response'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
  '/attributes/{attribute-id}':
    get:
      tags:
        - attributes
      summary: Get Attribute
      operationId: get-attribute
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: attribute-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/attribute-response'
      security:
        - OAuth2: []
      description: ''
    put:
      tags:
        - attributes
      summary: Update Attribute
      operationId: update-attribute
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: attribute-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/attribute-request'
        required: false
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/attribute-response'
      security:
        - OAuth2: []
      x-codegen-request-body-name: body
    delete:
      tags:
        - attributes
      summary: Delete Attribute
      operationId: delete-attribute
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: attribute-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/attribute-response'
      security:
        - OAuth2: []
  '/automation-rulesets':
    post:
      tags:
        - automation-rules
      summary: Create Automation Ruleset
      description: |-
        This endpoint creates a new automation ruleset with an optional set of rules.
      operationId: create-automation-ruleset-and-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automation-ruleset-with-rules-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/automation-ruleset-with-rules-response'
      security:
        - OAuth2: []
    get:
      tags:
        - automation-rules
      summary: List Automation Rulesets
      description: |-
        This endpoint lists automation rulesets for one or more or all merchants. If no merchant parameter is passed, the endpoint returns all rulesets.
      operationId: list-automation-rulesets
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: merchant
          description: merchant id
          in: query
          schema:
            type: string
        - name: entity-type
          description: Shipment entity type FORWARD or REVERSE
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ruleset-response'
  '/automation-rulesets/{automation-ruleset-id}':
    get:
      tags:
        - automation-rules
      summary: Get Automation Ruleset
      description: |-
        This endpoint returns the automation ruleset
      operationId: get-automation-ruleset
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: automation-ruleset-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ruleset-response'
    put:
      tags:
        - automation-rules
      summary: Update Automation Ruleset
      description: |-
        This endpoint updates the automation ruleset including the rules it contains.
      operationId: update-automation-ruleset-and-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: automation-ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automation-ruleset-with-rules-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/automation-ruleset-with-rules-response'
    patch:
      tags:
        - automation-rules
      summary: Update Automation Ruleset
      description: |-
        This endpoint updates the automation ruleset without updating the rules.
      operationId: patch-automation-ruleset
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: automation-ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleset-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ruleset-response'
    delete:
      tags:
        - automation-rules
      summary: Delete Automation Ruleset
      description: |-
        This endpoint deletes the automation ruleset including the rules it contains.
      operationId: delete-automation-ruleset
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: automation-ruleset-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: object
  '/automation-rulesets/{automation-ruleset-id}/rules':
    post:
      tags:
        - automation-rules
      summary: Create Automation Rule
      description: |-
        This endpoint adds a new automation rule to the ruleset.
      operationId: create-automation-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: automation-ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automation-rule-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/automation-rule-response'
      security:
        - OAuth2: []
    get:
      tags:
        - automation-rules
      summary: List automation rules
      description: |-
        This endpoint lists all the automation rules within the ruleset.
      operationId: list-automation-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: automation-ruleset-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/automation-rule-response'
      security:
        - OAuth2: []
  '/automation-rulesets/{ruleset-id}/rules/{automation-rule-id}':
    get:
      tags:
        - automation-rules
      summary: Get Automation Rule
      description: |-
        This endpoint returns the automation rule.
      operationId: get-automation-rule
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: ruleset-id
          in: path
          required: true
          schema:
            type: string
        - name: automation-rule-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/automation-rule-response'
      security:
        - OAuth2: []
    delete:
      tags:
        - automation-rules
      summary: Delete Automation Rule
      description: |-
        This endpoint deletes the automation rule.
      operationId: delete-automation-rule
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: ruleset-id
          in: path
          required: true
          schema:
            type: string
        - name: automation-rule-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: object
      security:
        - OAuth2: []
    put:
      tags:
        - automation-rules
      summary: Update Automation Rule
      description: |-
        This endpoint updates the automation rule.
      operationId: update-automation-rule
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: ruleset-id
          in: path
          required: true
          schema:
            type: string
        - name: automation-rule-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automation-rule-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/automation-rule-response'
      security:
        - OAuth2: []
  '/automation-rulesets/{ruleset-id}/rules/sequences':
    patch:
      tags:
        - automation-rules
      summary: Update Automation Sequence
      description: |-
        This endpoint updates the sequence or priority of rules in the ruleset.
      operationId: update-automation-rules-sequence
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sequences-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/sequences-request'
      security:
        - OAuth2: []
  '/service-level-rulesets':
    post:
      tags:
        - service-levels
      summary: Create Service Level Ruleset
      description: |-
        This endpoint creates a new service level ruleset with an optional set of rules.
      operationId: create-service-level-ruleset-and-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-level-ruleset-with-rules-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/service-level-ruleset-with-rules-response'
      security:
        - OAuth2: []
    get:
      tags:
        - service-levels
      summary: List Service Level Rulesets
      operationId: list-service-level-rulesets
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: merchant
          description: merchant id
          in: query
          schema:
            type: string
        - name: entity-type
          description: Shipment entity type FORWARD or REVERSE
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ruleset-response'
  '/service-level-rulesets/{service-level-ruleset-id}':
    get:
      tags:
        - service-levels
      summary: Get Service Level Ruleset
      description: |-
        This endpoint returns the service level ruleset
      operationId: get-service-level-ruleset
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: service-level-ruleset-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ruleset-response'
    put:
      tags:
        - service-levels
      summary: Update Service Level Ruleset
      description: |-
        This endpoint updates the service level ruleset including the rules it contains.
      operationId: update-service-level-ruleset-and-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: service-level-ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-level-ruleset-with-rules-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/service-level-ruleset-with-rules-response'
    patch:
      tags:
        - service-levels
      summary: Update Service Level Ruleset
      description: |-
        This endpoint updates the service level ruleset without updating the rules.
      operationId: patch-service-level-ruleset
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: service-level-ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleset-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ruleset-response'
    delete:
      tags:
        - service-levels
      summary: Delete Service Level Ruleset
      description: |-
        This endpoint deletes the service level ruleset including the rules it contains.
      operationId: delete-service-level-ruleset
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: service-level-ruleset-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: object
  '/service-level-rulesets/{service-level-ruleset-id}/rules':
    post:
      tags:
        - service-levels
      summary: Create Service Level Rule
      description: |-
        This endpoint adds a new service level rule to the ruleset.
      operationId: create-service-level-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: service-level-ruleset-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service-level-rule-request'
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/service-level-rule-response'
      security:
        - OAuth2: []
    get:
      tags:
        - service-levels
      summary: List Service Level Rules
      description: |-
        This endpoint lists all the service level rules within the ruleset.
      operationId: list-service-level-rules
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: service-level-ruleset-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/service-level-rule-response'
      security:
        - OAuth2: []
  '/service-level-rulesets/{ruleset-id}/rules/{service-level-rule-id}':
    get:
      tags:
        - serice-level-rules
      summary: Get Service Level Rule
      description: |-
        This endpoint returns the service level rule.
      operationId: get-service-level-rule
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
        - name: ruleset-id
          in: path
          required: true
          schema:
            type: string
        - name: service-level-rule-id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/service-level-rule-response'
      security:
        - OAuth2: []
    delete:
      tags:
        - service-levels
      summary: Delete Service Level Rule
      description: |-
        This endpoint deletes the service level rule.
      operationId: delete-service-level-rule
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
        - name: tenant-id
          in: header
          schema:
            type: string
        - name: Content-Type
          in: header
          schema:
            type: string
            default: application/json
[...]
